<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="authorId" value="116"/>
    <add key="conStrMSSQL" value="Data Source=.\SQLEXPRESS;Initial Catalog=ARTICLE;User ID=sa;Password=darkmoon"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
